
.col-lg-4, .col-sm-1 {
  padding: 5px 5px 5px 5px !important;
}

.about-page-title {
  background-image: url(../img/about-me-banner.png) !important;
}

.contact-page-title {
  background-image: url(../img/contact-banner.png) !important;
}

.about-me-subtitle {
  width: 80%;
  margin-left: 10%;
}

.home-about-img-overlay {
  background: #f4f3f3;
}

.about-img img {
  padding-top: 85px !important;
  padding-bottom: 20px !important;
}
