.col-lg-4, .col-sm-1 {
  padding: 5px 5px 5px 5px !important;
}

.about-page-title {
  background-image: url(../img/about-me-banner.png) !important;
}

.contact-page-title {
  background-image: url(../img/contact-banner.png) !important;
}
